.text-book1 {
    display: block;
    text-align: center;
    font-family: 'asap', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #000000;
    margin-top: 640px;
    margin-bottom: 100px;

}
.description {
    width: 60%;
    margin-left: 300px;
    margin-right: 300px;
    line-height: 1.6;
}